body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


.highlight-droparea:hover {
  background-color: #d6ec0f;
  border: 2px dashed #007bff;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.task-card:hover {
  cursor: grab;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.task-card.ui-draggable-dragging {
  background-color: #f0f8ff; 
  opacity: 0.8;
}
