body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


.highlight-droparea:hover {
  background: #d6ec0f;
  border: 2px solid #003166;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.task-card:hover {
  cursor: grab;
  border: 2px solid black;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.534);
  transform: scale(1.02);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.task-card.ui-draggable-dragging {
  background-color: #f0f8ff; 
  opacity: 0.8; 
  border: 2px solid black;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
}

.highlight-droparea {
  background-color: #e7f3ff; /* Subtle highlight */
  border: 2px solid rgb(0, 0, 0);
  transition: background-color 0.3s ease, border 0.3s ease;
}